dist: trusty
language: ruby
services:
  - postgresql
addons:
  chrome: stable
  postgresql: 9.6
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
before_install:
  - # start your web application and listen on `localhost`
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
