<h1> Admin Login </h1>

<%= form_tag("/sessions", method: "post") do %>
  <label for="username">username</label>
  <input required="required" type="text" name="username" id="username" />
  <br>
  <label for="password">password</label>
  <input required="required" type="password" name="password" id="password" />
  <br>
  <button type="submit" class="btn btn-default">Submit</button>
<% end %>
