<div class="container-fluid">

  <div class="header">
    <div class="row">
      <div class="col">
        <h1> Customize Your Message </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>  </p>
      </div>
    </div>
  </div>

  <%= render 'form' %>

</div>
