// Place all the styles related to the card_templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.headline {
  background-image: url('stack-letters-447579_1920.jpg');
  background-size: 100% auto;
  background-position: center bottom;
  background-color: DimGray;
  background-blend-mode: multiply;
  min-height: 300px;
}
