// Place all the styles related to the card_templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url('stack-letters-447579_1920.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: DimGray;
  background-blend-mode: multiply;
  color: white;
  padding: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-weight: semi-bold;
}

p, div {
  font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.header {
  margin-bottom: 40px;
}

.form-field-label {
  text-align: right;
  padding-right: 0;
}

#recipient-details, #custom-card-details {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;

  ul {
    list-style-type: none;
  }
  .message {
    font-weight: bold;
  }
  .signature {
    text-align: right;
    font-style: italic;
  }
}

#payment-buttons {
  margin-bottom: 15px;
}
