<div class='container-fluid page'>

  <div class='row headline'>
    <div class='col'>
        <h1> Let them know what you really think </h1>
        <p>Handwritten notes sent by the post: $4.99</p>
    </div>
  </div>

  <div class='row'>
    <div class='col-1'></div>
    <div class='col-10'>
      <div class='row'>
        <img src='assets/sorry_template_0.1.svg' alt='sorry template'>
        <img src='assets/reason_template_0.1.svg' alt='reason template'>
      </div>
      <div class='row'>
        <%= link_to 'Test Button', '/', class: 'btn btn-success' %>
      </div>
    </div>
    <div class='col-1'>
  </div>

</div>


