<div class='container-fluid page'>

  <div class='row headline'>
    <div class='col'>
        <h1> Let them know what you really think </h1>
        <p>Handwritten notes sent by the post: $4.99</p>
    </div>
  </div>

  <div class='row'>
  </div>

  <div class='row'>
      <% @templates.each do |template| %>
        <div class='col-md-5'> <%= template.greeting %> </div>
      <% end %>

    <%= link_to 'Test Button', '/', class: 'btn btn-success' %>
  </div>

</div>


