<div class='container-fluid page'>

  <div class='row headline'>
    <h1> Let them know what you really think. </h1>
  </div>

  <div class='row'>
    <p>Handwritten notes sent by the post: $4.99</p>
  </div>

  <div class='row'>
      <% @templates.each do |template| %>
        <div class='col-md-5'> <%= template.greeting %> </div>
      <% end %>

    <%= link_to 'Test Button', '/', class: 'btn btn-success' %>
  </div>

</div>

