<div class='container-fluid'>
  <h2> Customize your message here </h2>

  <%= form_tag charges_path do %>

    <div class='form-group'>
        <div class='field row'>
          <label class="col-2 text-right" for="card_recipient_name">Recipient Name</label>
          <input required="required" class="col-4 form-control" type="text" name="card[recipient_name]" id="card_recipient_name" />
        </div>
        <div class='field row'>
          <label class="col-2 text-right" for="card_street_address">Address</label>
          <input required="required" class="col-4 form-control" type="text" name="card[street_address]" id="card_street_address" />
        </div>
        <div class='field row'>
          <label class="col-2 text-right" for="card_city">City</label>
          <input required="required" class="col-4 form-control" type="text" name="card[city]" id="card_city" />
        </div>
        <div class='field row'>
          <label class="col-2 text-right" for="card_state">State</label>
          <input required="required" class="col-4 form-control" type="text" name="card[state]" id="card_state" />
        </div>
        <div class='field row'>
          <label class="col-2 text-right" for="card_zip_code">Zip Code</label>
          <input required="required" class="col-4 form-control" type="text" name="card[zip_code]" id="card_zip_code" />
        </div>
      </div>

      <div class='form-group'>
        <div class='field row'>
          <label class="col-2 text-right" for="card_custom_message">Custom Message</label>
          <input class="col-8 form-control" type="text" name="card[custom_message]" id="card_custom_message" />
        </div>
      </div>
      <div class='form-group'>
        <div class='field row'>
          <label class="col-2 text-right" for="card_signature">Signature</label>
          <input class="col-8 form-control" type="text" name="card[signature]" id="card_signature" />
        </div>
      </div>

    <article class='payment-area'>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Total: $4.99</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="custom greeting card"
            data-amount="499"
            data-locale="auto"></script>
  <% end %>

</div>
